* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    text-align: center;
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

/*START DISPLAY*/

.startDisplay {
    height: 80vh;
    padding-top: 100px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    overflow: auto;
    align-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    color: rgb(3, 32, 110);
    font-size: 18px;
    font-family:  Arial;
}

header p {
    font-size: 18px;
}

fieldset{
    border: 0;
}

header p.api-info {
    color: rgb(9, 1, 12);
    font-size: 14px;
}

header {
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px black;
    padding: 10px;
    border-radius: 10px;
    width: 80%
}

h1.logo {
    font-size: 50px;
    color: rgb(53, 69, 114);

}

.mapHeader {
    margin: 0 auto;
    padding: 3px;
    border-radius: 10px;
    width: 30%;
    background-color: white;
    box-shadow: 0 0 10px black;
}

form {
    padding: 30px;
}

form input {
    height: 50px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0 0 10px black;
    font-size: 16px;
}

#state {
    height: 50px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    border: 0px;
    box-shadow: 0 0 10px black;
    font-size: 16px;
}

form button {
    height: 50px;
    width: 100px;
    background: white;
    border: 0px;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 0 0 5px black;
    font-size: 20px;
}

#map {
    text-align: center;
    height: 400px;
    width: 700px;
    margin: 0 auto;
    box-shadow: 0 0 10px black;
    max-width: 100%;
  }

/* FOOTER */

footer {
    background-color: rgba(255, 255, 255, 0.7);
    height: 125px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px black;
    text-align: center;
}


/* RESPONSIVE DESIGN */

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

@media screen and (min-width: 640px) {
    .col-3 {
        width: 30%;
        display: inline-block;
        vertical-align: text-top;
    }
}