body {
    text-align: center;
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

/*START DISPLAY*/

#mapid {
    height: 200px;
    width: 200px;
  }

h2 {
    color: rgb(115, 43, 138);
    font-size: 24px;
}

header p {
    font-size: 18px;
}

header p.api-info {
    color: rgb(115, 43, 138);
    font-size: 14px;
}

header {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 10px;
    width: 80%
}

.startDisplay {
    height: 100vh;
    background-size: cover;
    box-shadow: 0 0 10px black;
    padding-top: 100px;
    margin-bottom: 45px;
}

h1.logo {
    font-size: 50px;
    margin-bottom: 15px;
}

form {
    padding: 30px;
}

form input {
    height: 50px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
}

form button {
    height: 50px;
    width: 100px;
    background: white;
    border: 0px;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 0 0 5px black;
    font-size: 20px;
}

/* FOOTER */

footer {
    background-color: rgba(255, 255, 255, 0.7);
    height: 125px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px black;
}


/* RESPONSIVE DESIGN */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

@media screen and (min-width: 640px) {
    .col-3 {
        width: 30%;
        display: inline-block;
        vertical-align: text-top;
    }
}